body {
  font-size: 16px;
  margin: 0;
}



@media screen and (min-width: 769px) and (max-width: 1024px) {

  .elevator-system-section {
    width: 80%;
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  .elevator-system-container {
    width: 90%;
  }

  .elevator-system-section {
    width: 90%;
  }
}

@media screen and (min-width: 481px) and (max-width: 600px) {
  .elevator-number-input {
    width: 70%;
  }

  .elevator-request-button {
    padding: 3% 5%;
  }

  .elevator-system-section {
    width: 90%;
  }
}



@media screen and (max-width: 480px) {
  .elevator-form-container {
    font-size: 1em;
    margin-top: 5%;
    width: 100%;
     text-align: center;  
  }

  .elevator-number-input {
    width: 80%;
  }

  .elevator-request-button {
    padding: 3% 5%;
  }

  .elevator-system-section {
    width: 100%;
    border: none;
    border-radius: none;
    margin-bottom: 10%;
  }
}
