.elevator-system-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  font-size: 1.5em;
  text-align: center;
}

.elevator-system-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5%; 
  margin: 0.5%;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1%; 
  width: 90%;
  max-width: 900px; 
  height: 15em;
}


@media screen and (min-width: 769px) and (max-width: 1024px) {

  .elevator-system-section {
    width: 80%;
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  .elevator-system-container {
    width: 90%;
  }

  .elevator-system-section {
    width: 90%;
  }
}



@media screen and (min-width: 481px) and (max-width: 600px) {
  .elevator-system-section {
    width: 90%;
  }
}


@media screen and (max-width: 480px) {
  .elevator-system-section {
    width: 100%;
    border: none;
    border-radius: none;
    margin-bottom: 10%;
  }
}
