
.elevator-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%; 
  }
  
  .elevator-name {
    font-size: 2em;
    font-weight: bold;
  }
  
  .elevator-direction,
  .elevator-floor {
    font-size: 1.3em;
  }
  

  